// Main Colors
$warmgray: #e1e5f2;
$powderblue: #bfdbf7;
$nightblue: #1f7a8c;
$coolgray: #022b3a;

$error: #b90b0b;

// Font Sizes
$font-sm: 1.25rem;
$font-md: 1.75rem;
$font-lg: 2.5rem;
$font-xlg: 3.25rem;

//Transitions
$toggleMenu: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
